<!DOCTYPE html>
<html>
  <head>
      <title>This is my bulletin</title>
      <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
      <h1>Messages</h1>

      <a href="/new">
         <button class='btn'>New Message</button>
      </a>
  </body>
</html>
