<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css.css"></link>
    <title>Comment Add</title>
  </head>
  <body>


    <h1>Add new comments</h1>

      <form action="/addshit" method="post">
        <div class="divUser">
          User:<input class="inputUser" type="text" name="title" required>
        </div>
        <div class="divPost">
          Post:<textarea class="divTextarea" rows=3 cols=30 type="text" name="body" required></textarea>
        </div>
        <button>Comment</button>
      </form>

      <a href="/">
        <button>Back</button>
      </a>

    <div class="dogArea">
      <img src="/dog.jpg">
    </div>
  </body>
</html>
