<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css.css"></link>
      <title>Comment Add</title>
    </head>
    
    <body>

      <h1>Bulletin Board</h1>
      <p>
        <% var x = 'wtf am i doing?' %>
        <div><%=x%></div>
        <a href='/addshit'>
          <button type='ADD' name ='button'>Add Posts</button>
        </a>
      </p>



      <h1>Messages</h1>
      <% for(var i = 0; i < messages.length;i++){ %>
        <div class='msg'>
          <p class='msg-title'><%= messages[i].dataValues.user + ": " %>
            <span class='msg-body'><%= messages[i].dataValues.post %></span>
          </p>
        </div>
      <% } %>
    </body>
</html>
